@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900");

* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.2;
  color: #3c393d;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
}
img {
  width: 100%;
  display: block;
}
.img-responsive {
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  display: block;
  width: min(50vw, 200px);
  height: auto;
}
.navbar {
  background: #fff;
  padding: 1.2rem;
}
.navbar-brand {
  color: #fff;
  font-size: 2rem;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}
.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}
.navbar-nav a {
  font-family: "linearicons" !important;
  letter-spacing: 1px;
  font-weight: 520;
  color: black;
  display: inline-block;
  padding: 0.4rem;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
  font-size: 1.5rem;
  text-decoration: underline;
  border: 2px solid transparent;
  line-height: 25px;
  transition: all 0.5s;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}
.navbar-nav a:hover {
  color: #53b778;
  background-color: #fff;
}
#btn-nav {
  background-color: #53b778;
  border-color: #53b778;
}
/*barre de recherche*/

.instant-search {
  position: relative;
  max-width: 300px;
  float: right;
}

.instant-search,
.instant-search__input {
  font-family: sans-serif;
  margin-bottom: 2px;
}

.instant-search,
.instant-search * {
  transition: 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #009578;
  border-radius: 5px;
  animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 15%;
  }
}

/* @media (min-width: 768px){
  .instant-search__input-container{
    margin-bottom: 2px;
  }
} */
.instant-search,
.instant-search__input-container {
  border-radius: 5px;
}

.instant-search__input-container {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  background: #eeeeee;
}

.instant-search__input-container:focus-within {
  background: #ffffff;
}

.instant-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  background: transparent;
}

.instant-search__results-container {
  max-height: 250px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s;
}

.instant-search__results-container--visible {
  visibility: visible;
  opacity: 1;
}

.instant-search__result {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.instant-search__result:hover {
  background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.instant-search__title {
  font-size: 1.1em;
  font-weight: bold;
}

.instant-search__paragraph {
  line-height: 1.5;
  margin: 8px 0;
}

/* design */
.design {
  padding: 2rem 0;
}
.title {
  text-align: center;
  padding: 1rem 0;
}
.title h2 {
  font-family: inherit;
  font-size: 2.4rem;
}
.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}
.design-content {
  margin: 1rem 0;
}
.design-item {
  cursor: pointer;
  margin: 1.5rem 0;
}

.design-img {
  position: relative;
  overflow: hidden;
}

.design-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.design-img img {
  transition: all 0.5s ease;
}
.design-item:hover img {
  transform: scale(1.2);
}
.design-img span:first-of-type {
  position: absolute;
  z-index: 1;
  padding: 0.25rem 1rem;
}
.design-img span:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.design-title {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #2b2b2b;
}
.design-title a {
  color: #3c393d;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
}
.design-title button {
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 15px;
  color: #fff;
}
#btn1 {
  background-color: #f44336;
}
#btn2 {
  background-color: #e1ee27;
}
#btn3 {
  background-color: #008cba;
}
#btn4 {
  background-color: #4bb92f;
}
#btn5 {
  background-color: #033d94;
}

.design-title span {
  color: black;
  font-size: 13px;
  font-weight: 600;
}
/* footer */

footer {
  background: #2b2b2b;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}
footer a {
  color: white;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.social-links a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

/* Media Queries */
@media screen and (min-width: 540px) {
  .navbar-nav a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  /* .design-title {
    font-size: 2rem;
    text-align: center;
  } */
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .instant-search__input {
    padding: 0.4rem 0;
  }
  .design-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .design-item {
    margin: 0;
  }
  .img-responsive {
    margin-right: 0;
    margin-left: 0;
  }
  /* .dateArticle{
    font-size: 5rem;
    color: lawngreen;
  } */
}

@media screen and (min-width: 1200px) {
  .design-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*article details*/
.Article {
  padding: 10px;
  margin: 0.4rem;
  padding-right: 10%;
  padding-left: 10%;
}
.Article h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.info {
  padding-right: 20%;
  padding-left: 10%;
}
.Article p,
h4,
ul {
  display: block;
  padding-right: 10%;
  padding-left: 10%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.6;
}
.background {
  max-width: 80%;
  top: 50%;
  height: 350px;
  padding-right: 20%;
  padding-bottom: 20px;
  padding-left: 10%;
}
.Article div {
  display: block;
}
.img-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Article span {
  color: black;
  font-size: 13px;
  font-weight: 600;
}
